body {
    margin: 0;
    min-width: 280px;
    max-width: 280px;
    font-family: 'Inter', sans-serif;
}

.content {
    padding: 12px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.headerLogo {
    width: 100px;
    height: auto;
    user-select: none;
}

.description {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.description a {
    color: #FE1251;
    text-decoration: none;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px auto;
    padding: 16px;
    border: 2px solid #eaeaea;
    border-radius: 8px;
}

.product img {
    user-select: none;
}

.productName {
    margin: 16px 0 0;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.productImg {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    object-fit: contain;
}

.productCategory {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0 8px;
}

.productCategorySelect {
    flex-grow: 1;
    margin-left: 12px;
    padding: 2px 4px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #eaeaea;
    cursor: pointer;
}

.productCategorySelect:focus {
    outline: none;
    border-color: #FE1251;
}

button {
    padding: 8px 16px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #FE1251;
    border-color: transparent;
    border-radius: 32px;
    cursor: pointer;
    outline: transparent;
}

.content.unknownUser > .product,
.content.unknownUser > .productCategory {
    display: none;
}
